dev@digitalmanager.guruFORMAT: 1A
HOST: https://digitalmanager.guru/

# Digital Manager Guru - Manual API (BETA)

Esta documentação detalha os endpoints disponíveis na API do Digital Manager Guru e disponibiliza um console interativo
para que você consiga testar as requisições sem ser necessário escrever nenhuma linha de código. Além disso, através
do console também é possível gerar automaticamente o código das requisições para diversas liguagens (PHP, Java, Ruby, entre muitas outras)

Para testar os exemplos aqui descritos é necessário ter uma conta no Digital Manager Guru. Caso você ainda não tenha, basta
[criar uma clicando aqui](https://digitalmanager.guru/). A criação da conta é simples e rápida, e não há custo algum.


## Autenticação

A autenticação é feita através do fornecimento de um token (User Token ou Account Token). 
O User Token deve ser transmitido no header `Authorization - Bearer {{user_token}}`. 
Caso o token seja inválido ou não seja informada, o Digital Manager Guru retornará `HTTP 401`.

**Atenção!**
Seus Tokens carregam muitos privilégios, portanto certifique-se de mantê-la protegida. Não informe ela em atendimentos e nem a exponha no front-end da sua aplicação.
Além disso, não é possível recuperá-la caso perdida, sendo necessário a geração de uma nova.

### Account Token

Para obter seu Account Token, acesse a aba API na sua conta de cliente.

<img style="width:100%" src="https://lp.digitalmanager.guru/wp-content/uploads/2020/08/account_token.png"/><br/><br/>

### User Token
Para obter seu User Token, acesse a aba API na sua conta de usuário.

<img style="width:100%" src="https://lp.digitalmanager.guru/wp-content/uploads/2020/08/user_token_1.jpeg"/><br/><br/>

Carregue no botão "+".

<img style="width:100%" src="https://lp.digitalmanager.guru/wp-content/uploads/2020/08/user_token_2.jpeg"/><br/><br/>

E registe o token.

<img style="width:100%" src="https://lp.digitalmanager.guru/wp-content/uploads/2020/08/user_token_3.jpeg"/><br/><br/>

**Atenção!**
Deve guardar o seu User Token num lugar seguro, só poderá ver uma vez no Guru.

## Limite de Requisições

Para garantir o excelente desempenho de nossa api para todos os usuários, limitamos a quantidade de requisições em `120 por minuto.`

Caaso o limite seja excedido, será retornado o erro `429 - Too Many Attempts.`

## Códigos HTTP das respostas

O Guru utiliza respostas HTTP convencionais para indicar sucesso ou falha nas requisições.
Respostas com status 200 indicam sucesso, status 4xx indicam falhas decorrentes de erros nas informações enviadas,
e status 500 indicam erros internos no servidor do Guru.

`200 OK` - Sua requisição foi bem sucedida.

`401 Unauthorized` - Não foi enviada User Token ou ela é inválida.

`403 Forbidden` - A sua conta de ususário não tem permissão para esta ação.

`404 Not Found` - O endpoint ou o objeto solicitado não existe.

`422 Unprocessable Entity` - Algum parâmetro obrigatório não foi enviado ou é inválido.
Neste caso a própria resposta indicará qual é o problema.

`429 Too Many Requests` - Muitas requisições simultâneas

`500 Internal Server Error` - Algo deu errado no servidor do Guru.

Todos os endpoints da API do Guru recebem e responde em JSON.

##### Exemplo de resposta para HTTP 422
```
{
    "id": [
        "The id field is required."
    ]
}
```

## Listas e paginação

Todos os endpoints da API que retornam uma lista de itens são paginados. Para navegar entre as páginas pode passar o 
parâmetro `page`. Estas listas contêm 20 itens por página.

## Lista de Opções de Afiliações

<ul>
    <li>with</li>
    <li>without</li>
</ul>

## Lista de Marketplaces

<ul>
    <li>appmax</li>
    <li>asaas</li>
    <li>cielo</li>
    <li>ebanx</li>
    <li>eduzz</li>
    <li>generic</li>
    <li>hotmart</li>
    <li>iugu</li>
    <li>lendico</li>
    <li>mercadopago</li>
    <li>monetizze</li>
    <li>mundipagg</li>
    <li>pagbrasil</li>
    <li>pagseguro</li>
    <li>pagarme</li>
    <li>payplix</li>
    <li>payu</li>
    <li>paypal</li>
    <li>perfectpay</li>
    <li>rakutenpay</li>
    <li>stripe</li>
    <li>ticto</li>
    <li>upnid</li>
    <li>moip</li>
    <li>yampi</li>
    <li>yapay</li>
</ul>
    
## Lista de Formas de Pagamento

<ul>
    <li>bank_transfer</li>
    <li>billet</li>
    <li>credit_card</li>
    <li>free</li>
    <li>google_pay</li>
    <li>ideal</li>
    <li>multibanco</li>
    <li>other</li>
    <li>oxxo</li>
    <li>paypal</li>
    <li>personal_credit</li>
    <li>pix</li>
    <li>samsung_pay</li>
    <li>sepa</li>
    <li>spei</li>
    <li>wallet</li>
</ul>

## Lista de Status de Transações

<ul>
    <li>abandoned</li>
    <li>analysis</li>
    <li>approved</li>
    <li>billet_printed</li>
    <li>blocked</li>
    <li>canceled</li>
    <li>chargeback</li>
    <li>completed</li>
    <li>delayed</li>
    <li>dispute</li>
    <li>expired</li>
    <li>in_recovery</li>
    <li>refunded</li>
    <li>rejected</li>
    <li>scheduled</li>
    <li>started</li>
    <li>trial</li>
    <li>waiting_payment</li>
</ul>

## Lista de Tipos de Transaçoes

<ul>
    <li>affiliate</li>
    <li>coproducer</li>
    <li>manager</li>
    <li>producer</li>
</ul>

## Lista de Status de Assinaturas

<ul>
    <li>active</li>
    <li>canceled</li>
    <li>expired</li>
    <li>inactive</li>
    <li>pastdue</li>
    <li>started</li>
    <li>trial</li>
</ul>

## Lista de Tipos de Rastreamento

<ul>
    <li>campaign</li>
    <li>checkout</li>
    <li>form</li>
    <li>lead</li>
</ul>

## Lista de Anunciantes

<ul>
    <li>adwords</li>
    <li>adwords_remarketing</li>
    <li>bing</li>
    <li>chatbot</li>
    <li>community</li>
    <li>customer_service</li>
    <li>ebook</li>
    <li>email</li>
    <li>eroadvertising</li>
    <li>facebook</li>
    <li>facebook_ads</li>
    <li>facebook_remarketing</li>
    <li>influencers</li>
    <li>instagram</li>
    <li>instagram_ads</li>
    <li>instagram_remarketing</li>
    <li>linkedin</li>
    <li>member_area</li>
    <li>messengers</li>
    <li>meteoric</li>
    <li>organic</li>
    <li>other</li>
    <li>outbrain</li>
    <li>ownsite</li>
    <li>propeller_ads</li>
    <li>renewal</li>
    <li>revcontent</li>
    <li>sales_team</li>
    <li>taboola</li>
    <li>tiktok</li>
    <li>twitter</li>
    <li>webinar</li>
    <li>yahoo</li>
    <li>youtube</li>
</ul>

## Lista de Status de Invoice

<ul>
    <li>paid</li>
    <li>waiting_payment</li>
    <li>overdue</li>
    <li>canceled</li>
</ul>

## Lista de Tipos de Invoice

<ul>
    <li>upgrade</li>
    <li>cycle</li>
</ul>

## Webhooks

Ao ativar o Webhook, sempre que houver alterações nos recursos integrados, será feito uma requisição POST para o endereço
configurado, contendo o recurso envolvido.

### Habilitando o Webhook

Para habilitar o webhook, acesse a área [Webhooks](https://digitalmanager.guru/admin/settings/webhooks), e informe os 
dados necessários do recurso e URL da aplicação que deve receber o POST do Guru.

### ID da Requisição

Cada vez que o webhook é disparado, geramos um ID de requisição e enviamos no HEADER <strong>X-Request-ID</strong>.

### Retornando HTTP 200
Para que o Guru considere o webhook como processado com sucesso, o status HTTP da resposta deve ser `200`.
Caso seu sistema falhe em responder `HTTP 200`, a retentativa é feita a cada minuto x numero de tentativas até o total 
de 10 tentativas. Se falhar mais de 10 vezes é enviada uma notificação para todos os usuários administradores.

### Retornos HTTP de erro
O Guru não tenta reenviar os webhooks caso o código de retorno seja:
<ul>
    <li>401</li>
    <li>404</li>
    <li>406</li>
    <li>500</li>
</ul>

### Token de autenticação
Para validar que a requisição do webhook pertence ao Guru, é enviado o campo `api_token`.

### Webhook para Assinaturas

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas assinaturas.

    <table class="c8">
        <thead>
            <tr class="c24">
                <th class="c2" colspan="1" rowspan="1">
                    <p class="c10"><span class="c5">Campo</span></p>
                </th>
                <th class="c11" colspan="1" rowspan="1">
                    <p class="c10"><span class="c5">Tipo</span></p>
                </th>
                <th class="c7" colspan="1" rowspan="1">
                    <p class="c10"><span class="c5">Obrigat&oacute;rio</span></p>
                </th>
                <th class="c16" colspan="1" rowspan="1">
                    <p class="c10"><span class="c5">Descri&ccedil;&atilde;o</span></p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">api_token</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Char(40)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Chave de API do Guru</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">ID da Assinatura</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim </span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome da Assinatura</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-status-de-assinaturas">last_status</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">SubscriptionStatus</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Status da Assinatura</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">charged_times</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Quantidade de Cobran&ccedil;as</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">charged_every_days</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Cobran&ccedil;a a cada X dias</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-formas-de-pagamento">payment_method</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c6">PaymentMethod</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">M&eacute;todo de Pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.started_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data de In&iacute;cio</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">cancel_reason</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Motivo de Cancelamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">cancelled_by.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do Usuário que fez cancelamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">cancelled_by.email</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Email do Usuário que fez cancelamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">cancel_at_cycle_end</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Boolean (0/1)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Cancelamento no final de ciclo</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.last_status_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do &uacute;ltimo Status</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.cancelled_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Não</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data de cancelamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.cycle_start_date</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DD</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data de início de ciclo</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.cycle_end_date</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DD</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data de fim de ciclo</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">dates.next_cycle_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DD</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do próximo ciclo</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Id</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.email</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">E-mail</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.doc</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Documento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.phone_number</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Telefone</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.phone_local_code</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Indicativo do telefone</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Endere&ccedil;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_number</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_comp</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Complemento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_district</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Bairro</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_city</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Cidade</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_state</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Estado</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">subscriber.address_country</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Pa&iacute;s</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.checkout_url</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Url do Checkout do Guru</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">ID da Transa&ccedil;&atilde;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-status-de-transacoes">last_transaction.status</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c6">TransactionStatus</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Status da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-tipos-de-transacoes">last_transaction.type</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c6">Types</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tipo da venda</span></p>
                </td>
            </tr>
            <tr class="c34">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.ordered_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do Pedido</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.confirmed_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data da Aprova&ccedil;&atilde;o</span></p>
                </td>
            </tr>
            <tr class="c34">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.expires_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Não</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data de Expiração</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.canceled_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do Cancelamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.warranty_until</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Garantia at&eacute;</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.dates.unavailable_until</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Indispon&iacute;vel at&eacute;</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.affiliations.*.marketplace_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Id do marketplace da afiliação</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.affiliations.*.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome da afiliação</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.affiliations.*.contact_email</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Email da afiliação</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.affiliations.*.value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor da comissão da afiliação</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.affiliations.*.currency</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Moeda da afiliação</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipping.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do frete</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipping.value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor do frete</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Id</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.email</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">E-mail</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.doc</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Documento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.phone_number</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Telefone</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.phone_local_code</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Indicativo do telefone</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Endere&ccedil;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_number</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_comp</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Complemento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_district</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Bairro</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_city</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Cidade</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_state</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Estado</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_country</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Pa&iacute;s</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.address_zip_code</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">C&oacute;digo Postal</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.lead.first_tracking.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do primeiro rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-tipos-de-rastreamento">last_transaction.contact.lead.first_tracking.type</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">TrackingType</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tipo do primeiro rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-anunciantes">last_transaction.contact.lead.first_tracking.publisher</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">Publisher</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Anunciante do primeiro rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.lead.first_tracking.tracked_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do primeiro rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.lead.last_tracking.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do &uacute;ltimo rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-tipos-de-rastreamento">last_transaction.contact.lead.last_tracking.type</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">TrackingType</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tipo do &uacute;ltimo rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-anunciantes">last_transaction.contact.lead.last_tracking.publisher</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">Publisher</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Anunciante do &uacute;ltimo rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.contact.lead.last_tracking.tracked_at</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">YYYY-MM-DDTHH:MM:SSZ</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Data do &uacute;ltimo rastreio do lead</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Id do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.unit_value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor unit&aacute;rio do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.image_url</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Imagem do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.total_value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor total do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.type</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">plan/product</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tipo do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.marketplace_name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do marketplace do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.qty</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Quantidade do produto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.producer.marketplace_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Id Marketplace do produtor</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.producer.name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do produtor</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.product.producer.contact_email</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Email do produtor</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.carrier</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome da transportadora</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.service</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Servi&ccedil;o da transportadora</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.tracking</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">C&oacute;digo de rastremanto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor da transportadora</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.status</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Array</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Estados do envio</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.shipment.delivery_time</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tempo de entrega</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.source</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.checkout_source</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.utm_source</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.utm_campaign</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.utm_medium</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.utm_content</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.utm_term</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Origem da Venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.tracking_name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-tipos-de-rastreamento">last_transaction.source.pptc.tracking_type</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">TrackingType</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Tipo do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-anunciantes">last_transaction.source.pptc.tracking_publisher</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c14">Publisher</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Anunciante do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.user_name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do usu&aacute;rio</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.checkout_name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Nome do checkout</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.utm_campaign</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">UTM_CAMPAIGN do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.utm_medium</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">UTM_MEDIUM do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.utm_content</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">UTM_CONTENT do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.source.pptc.utm_term</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">UTM_TERM do Rastreamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.kapsula.pedido</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero do Pedido Kapsula</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.magento.quote_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero da Cota&ccedil;&atilde;o Magento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.magento.order_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero do Pedido Magento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.shopify.order_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero do Pedido Shopify</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.shopify.transaction_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-14"><span class="c3">N&uacute;mero da Transa&ccedil;&atilde;o Shopify</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.ecommerces.woocommerce.id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&uacute;mero do Pedido Woocommerce</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3"><a href="#introduction/lista-de-formas-de-pagamento">last_transaction.payment.method</a></span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c6">PaymentMethod</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">M&eacute;todo de Pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.marketplace_id</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">C&oacute;digo da Venda no Processador de Pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.marketplace_name</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c25">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Processador de Pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.marketplace_value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor do Processador de Pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.currency</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Moeda (ISO 4217)</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.discount_value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor Desconto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.total</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor Total</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.affiliate_value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor Afiliados</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.net</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor L&iacute;quido</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.gross</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Sim</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor Bruto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.tax.value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor da Taxa</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.tax.rate</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Porcentagem da Taxa</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.instalments.value</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor das Parcelas</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.instalments.qty</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Quantidade de Parcelas da venda</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.installments.interest</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Float</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Valor dos juros do parcelamento </span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.refuse_reason</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Mensagem do processador de pagamento</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.billet.line</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-15"><span class="c3">Linha Digit&aacute;vel do Boleto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.billet.url</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-16"><span class="c3">Url do Boleto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.billet.expiration_date</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-17"><span class="c3">Data de Expira&ccedil;&atilde;o do Boleto</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.creditcard.first_digits</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-18"><span class="c3">Bin do cart&atilde;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.creditcard.last_digits</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">Integer</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-19"><span class="c3">Quatro &uacute;ltimos d&iacute;gitos do cart&atilde;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.creditcard.brand</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-20"><span class="c3">Bandeira do cart&atilde;o</span></p>
                </td>
            </tr>
            <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.pix.qrcode.signature</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-18"><span class="c3">Código QRCode do Pix</span></p>
                </td>
            </tr>
             <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.pix.qrcode.url</span></p>
                </td>
                 <td class="c11" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">String(191)</span></p>
                </td>
                <td class="c7" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">N&atilde;o</span></p>
                </td>
                <td class="c16" colspan="1" rowspan="1">
                    <p class="c0" id="h.gjdgxs-17"><span class="c3">URL QRCode do Pix</span></p>
                </td>
            </tr>
             <tr class="c1">
                <td class="c2" colspan="1" rowspan="1">
                    <p class="c0"><span class="c3">last_transaction.payment.pix.expiration_date</span></p>
[...]
